################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf.Android/bin/Debug
/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf.Android/obj
/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf.Android/google-services.json
/FireBaseAnalyticsPerf/.vs/FireBaseAnalyticsPerf
