################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf/FireBaseAnalyticsPerf.Android/bin/Debug
